@media (min-width: 992px) {
    .header-menu {
        position: relative;
        z-index: 100;
        height: 65px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        padding-left: 15px;
        padding-bottom: 5px;
    }
    .header-menu > li {
        margin-right: 1rem;
        position: relative;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 5px;
        border-bottom: 2px solid transparent;
    }
    .header-menu > li.closeMenu {
        display: none;
    }
    .header-menu > li .perfil {
        position: absolute;
        top: -10px;
        right: 20px;
        font-size: 10px;
        white-space: nowrap;
    }
    .header-menu > li.dropmenu {
        cursor: pointer;
    }
    .header-menu > li.dropmenu:after {
        font-family: "Font Awesome 5 Free";
        content: "\f078";
    }
    .header-menu > li.dropmenu > ul {
        background: #fff;
        min-width: 170px;
        border: 1px solid #ccc;
        color: var(--primary);
    }
    .header-menu > li.active {
        border-bottom: 2px solid #fff;
    }
    .header-menu > li.right {
        margin-left: auto;
        position: relative;
    }
    .header-menu > li > ul {
        position: absolute;
        display: none;
        top: 100%;
        background: var(--primary);
        border-radius: 5px;
    }
    .header-menu > li > ul a {
        display: block;
        padding: 5px 15px;
    }
    .responsive-tools {
        display: none;
    }
}

@media (max-width: 991px) {
    .header {
        background: var(--primary);
    }
    .header.noFilter {
        min-height: auto;
    }
    .header-logo {
        padding: 5px;
    }
    .header-menu {
        position: fixed;
        z-index: 800;
        background: rgba(0, 106, 71, 0.92);
        /* background: rgba(61, 173, 223, 0.92); */
        width: 100vw;
        max-width: 500px;
        height: 100vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        left: -100vw;
        -webkit-transition: left ease 0.3s;
        -o-transition: left ease 0.3s;
        transition: left ease 0.3s;
        padding: 0;
        color: #fff;
        overflow-y: scroll;
    }
    .header-menu li {
        min-height: 40px;
        margin-bottom: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 10px;
    }
    .header-menu li .perfil {
        display: none;
    }
    .header-menu li > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
    .header-menu li.closeMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 30px;
        padding: 15px;
        text-align: right;
    }
    .header-menu .dropmenu ul {
        margin-top: 15px;
    }
    .header-menu .dropmenu li {
        padding-left: 15px;
    }
    .header-menu .dropmenu li a:before {
        content: ">";
        margin-right: 5px;
    }
    .header-menu.active {
        left: 0;
    }
}
/* END HEADER */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: "Roboto";
    position: relative;
    padding-bottom: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Acciones alineadas a la derecha y de menor tamaño  */
/* Estado alineado a la derecha y de menor tamaño  */
.table.actions tr th:last-child,
.table.actions tr td:last-child,
.table.states tr th:nth-last-child(2),
.table.states tr td:nth-last-child(2) {
    width: 100px;
    text-align: center;
}

/* MATERIAL ICONS */
.material-icons {
    color: #2d8029;
}

.material-icons.md-14 {
    font-size: 14px;
}
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

/* btn para iconos  */
.btn_link {
    display: inline-block;
    padding: 0px 2px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px solid transparent;
    border-radius: 4px;
    background: #fff;
}

/* FORMULARIOS Y MANTENEDORES */

#ficha .form-group .form-group {
    margin-bottom: 0px !important;
}
#ficha .form-group {
    margin-bottom: 5px !important;
}
#ficha .form-group input {
    height: calc(1.5em + 0.75rem + 2px);
}
#filtros > label,
.bootstrap-select button {
    font-size: 0.875rem !important;
}

.form-group > label,
.title {
    font-weight: bold;
    font-size: 12px;
    color: var(--primary);
    margin-bottom: 5px;
    text-transform: uppercase;
}

.form-control {
    border-color: transparent;
    border-bottom-color: var(--primary);
}

.form-group.error > label {
    color: red;
}
.form-group.error > input,
.form-group.error .col > input,
.form-group.error > textarea,
.form-group.error > select,
.form-group.error select {
    border-bottom-color: red !important;
}
.form-group.error .selectBtn {
    border-bottom-color: red;
}
.form-group.error .text-danger {
    font-size: 10px;
}
.form-group.error .bootstrap-select .dropdown-toggle {
    border-color: transparent !important;
    border-bottom-color: red !important;
}

#ficha .form-group.error .col > label,
#form-cad-material .form-group.error .col > label {
    color: red;
}
#ficha .form-group.error .col > input,
#ficha .form-group.error .col > textarea,
#ficha .form-group.error .col > select {
    border-bottom-color: red;
}
#ficha .form-group.error .col .selectBtn {
    border-bottom-color: red;
}
#ficha .form-group.error .col .text-danger {
    font-size: 10px;
}

#ficha input[readonly] {
    cursor: not-allowed;
}
/* textarea */
textarea.error {
    border-color: red !important;
}

.form-group.error textarea {
    border-color: red !important;
}

/* Bootstrap select icons */
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    color: var(--primary);
}

.bootstrap-select > .dropdown-toggle:after {
    color: var(--primary);
}

/* Css for custom checkbox  */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--primary) !important;
}

.custom-checkbox
    .custom-control-input:checked:focus
    ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px var(--primary), 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px var(--primary), 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.custom-checkbox .custom-control-input ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px var(--primary), 0 0 0 0.1rem rgba(2, 248, 22, 0.904);
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #c8ffc8;
}

.error[for="checkboxes[]"] {
    color: red;
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

/* DISABLE INPUT CSS */
.form-control:disabled,
.form-control[readonly] {
    background-color: rgb(248, 248, 248) !important;
    opacity: 1;
}
input:disabled,
select:disabled,
textarea:disabled {
    background-color: rgb(248, 248, 248) !important;
    border-bottom-color: rgb(248, 248, 248) !important;
}
textarea:disabled {
    border: rgb(248, 248, 248) !important;
}

#ficha .form-control-plaintext[readonly] {
    color: #000 !important;
    border-color: transparent;
    border-bottom-color: var(--primary);
    /* background-color: rgb(250, 250, 250) !important; */
    background-color: rgb(248, 248, 248) !important;
}

/* Css para bootrstrap select */
.bootstrap-select button {
    /* height: calc(1.5em + 0.75rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid var(--primary);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    /* padding-top: calc(0.25rem + 1px); */
    /* padding-bottom: calc(0.25rem + 1px); */
    line-height: 1.5;
}
@media (prefers-reduced-motion: reduce) {
    .bootstrap-select button {
        transition: none;
    }
}
.bootstrap-select button:active,
.bootstrap-select button:focus {
    background-color: transparent !important;
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 0.2rem rgba(13, 79, 201, 0.25);
    outline: 0 !important;
}
.bootstrap-select button,
label {
    font-size: 0.9em;
}
label {
    margin-bottom: 5px;
}
.form-control-sm[multiple] {
    font-size: 12px;
    color: #343a40;
}
.datepicker table tr td.active {
    background: var(--primary) !important;
}

/* LOADER CSS */
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid var(--primary);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* COMPONENTE MODAL CREACION CAD Y MATERIAL */
.container-cad {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}
.item-cad {
    display: flex;
}

.modal-confirmacion {
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
}

/* css para form carton excel, seccion de medidas */
.medidasSection > .col {
    padding: 0 5px;
}
.medidasSection {
    margin-right: -5px;
    margin-left: -5px;
}

/* MODULO REPORTERIA */
.container-report {
    display: flex;
    border-radius: 20%;
}
.item-report {
    height: 35vh;
    width: 100%;
    background-color: white;
    margin: 2px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 60px 1px rgba(0, 0, 0, 0.2);
}
.item-report_sm {
    height: 23vh;
}

.tablero {
    display: flex;
}
.velocimetro {
    height: 100%;
    width: 33.333%;
}
.velocimetro__canvas {
    width: 100%;
}

/* donas */
.dona {
    /* flex: 1 1 auto; */
    height: 100%;
    width: 100%;
}
.dona__canvas {
    width: 70%;
    /* margin-right: -50px;
    margin-left: -50px; */
    /* margin-bottom: 20px;  */
}

/* Reporte 1  */
.container-reporte1 {
    display: flex;
    justify-content: space-between;
}
.item-reporte1 {
    width: 33%;
    background-color: white;
    margin: 10px;
    padding: 10px 5px;
    border-radius: 15px;
    box-shadow: 1px 1px 60px 1px rgba(0, 0, 0, 0.2);
}

/* ////////////////// */
.container-solicitud {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 2px;
    padding: 2px 5px;
}
.container-solicitud:not(:last-child) {
    margin-bottom: 2px;
}
.dias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 0 0 50px;
    background-color: var(--primary);
    border-radius: 7px;
    color: white;
    margin-right: 5px;
}
.columna-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 0 0 50px;
    /* background-color: var(--primary); */
    /* border-radius: 7px; */
    color: black;
    margin-right: 5px;
}
.area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 0 0 50px;
    background-color: #666;
    border-radius: 7px;
    color: white;
}
.ot {
    flex: 1;
    align-items: flex-start;
    padding: 0 5px;
}
.ot p {
    font-size: 10px;
    font-weight: 200px;
    margin-bottom: 0px;
}
.division:not(:last-child) {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #666;
}

.header-report {
    text-align: center;
    margin: 0;
    font-weight: 600;
}

#alargar_descripcion > div {
    width: 100% !important;
}

/* TRADUCCION DE GRYPHICONS PARA BOOTSTRAP 4 LO UTILIZAMOS EN DATEPICKER DE SOLO TIEMPO Q NO HAY PARA BS 4  */
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot");
    src: url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix")
            format("embedded-opentype"),
        url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff")
            format("woff"),
        url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf")
            format("truetype"),
        url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular")
            format("svg");
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.glyphicon-asterisk:before {
    content: "\2a";
}
.glyphicon-plus:before {
    content: "\2b";
}
.glyphicon-euro:before {
    content: "\20ac";
}
.glyphicon-minus:before {
    content: "\2212";
}
.glyphicon-cloud:before {
    content: "\2601";
}
.glyphicon-envelope:before {
    content: "\2709";
}
.glyphicon-pencil:before {
    content: "\270f";
}
.glyphicon-glass:before {
    content: "\e001";
}
.glyphicon-music:before {
    content: "\e002";
}
.glyphicon-search:before {
    content: "\e003";
}
.glyphicon-heart:before {
    content: "\e005";
}
.glyphicon-star:before {
    content: "\e006";
}
.glyphicon-star-empty:before {
    content: "\e007";
}
.glyphicon-user:before {
    content: "\e008";
}
.glyphicon-film:before {
    content: "\e009";
}
.glyphicon-th-large:before {
    content: "\e010";
}
.glyphicon-th:before {
    content: "\e011";
}
.glyphicon-th-list:before {
    content: "\e012";
}
.glyphicon-ok:before {
    content: "\e013";
}
.glyphicon-remove:before {
    content: "\e014";
}
.glyphicon-zoom-in:before {
    content: "\e015";
}
.glyphicon-zoom-out:before {
    content: "\e016";
}
.glyphicon-off:before {
    content: "\e017";
}
.glyphicon-signal:before {
    content: "\e018";
}
.glyphicon-cog:before {
    content: "\e019";
}
.glyphicon-trash:before {
    content: "\e020";
}
.glyphicon-home:before {
    content: "\e021";
}
.glyphicon-file:before {
    content: "\e022";
}
.glyphicon-time:before {
    content: "\e023";
}
.glyphicon-road:before {
    content: "\e024";
}
.glyphicon-download-alt:before {
    content: "\e025";
}
.glyphicon-download:before {
    content: "\e026";
}
.glyphicon-upload:before {
    content: "\e027";
}
.glyphicon-inbox:before {
    content: "\e028";
}
.glyphicon-play-circle:before {
    content: "\e029";
}
.glyphicon-repeat:before {
    content: "\e030";
}
.glyphicon-refresh:before {
    content: "\e031";
}
.glyphicon-list-alt:before {
    content: "\e032";
}
.glyphicon-flag:before {
    content: "\e034";
}
.glyphicon-headphones:before {
    content: "\e035";
}
.glyphicon-volume-off:before {
    content: "\e036";
}
.glyphicon-volume-down:before {
    content: "\e037";
}
.glyphicon-volume-up:before {
    content: "\e038";
}
.glyphicon-qrcode:before {
    content: "\e039";
}
.glyphicon-barcode:before {
    content: "\e040";
}
.glyphicon-tag:before {
    content: "\e041";
}
.glyphicon-tags:before {
    content: "\e042";
}
.glyphicon-book:before {
    content: "\e043";
}
.glyphicon-print:before {
    content: "\e045";
}
.glyphicon-font:before {
    content: "\e047";
}
.glyphicon-bold:before {
    content: "\e048";
}
.glyphicon-italic:before {
    content: "\e049";
}
.glyphicon-text-height:before {
    content: "\e050";
}
.glyphicon-text-width:before {
    content: "\e051";
}
.glyphicon-align-left:before {
    content: "\e052";
}
.glyphicon-align-center:before {
    content: "\e053";
}
.glyphicon-align-right:before {
    content: "\e054";
}
.glyphicon-align-justify:before {
    content: "\e055";
}
.glyphicon-list:before {
    content: "\e056";
}
.glyphicon-indent-left:before {
    content: "\e057";
}
.glyphicon-indent-right:before {
    content: "\e058";
}
.glyphicon-facetime-video:before {
    content: "\e059";
}
.glyphicon-picture:before {
    content: "\e060";
}
.glyphicon-map-marker:before {
    content: "\e062";
}
.glyphicon-adjust:before {
    content: "\e063";
}
.glyphicon-tint:before {
    content: "\e064";
}
.glyphicon-edit:before {
    content: "\e065";
}
.glyphicon-share:before {
    content: "\e066";
}
.glyphicon-check:before {
    content: "\e067";
}
.glyphicon-move:before {
    content: "\e068";
}
.glyphicon-step-backward:before {
    content: "\e069";
}
.glyphicon-fast-backward:before {
    content: "\e070";
}
.glyphicon-backward:before {
    content: "\e071";
}
.glyphicon-play:before {
    content: "\e072";
}
.glyphicon-pause:before {
    content: "\e073";
}
.glyphicon-stop:before {
    content: "\e074";
}
.glyphicon-forward:before {
    content: "\e075";
}
.glyphicon-fast-forward:before {
    content: "\e076";
}
.glyphicon-step-forward:before {
    content: "\e077";
}
.glyphicon-eject:before {
    content: "\e078";
}
.glyphicon-chevron-left:before {
    content: "\e079";
}
.glyphicon-chevron-right:before {
    content: "\e080";
}
.glyphicon-plus-sign:before {
    content: "\e081";
}
.glyphicon-minus-sign:before {
    content: "\e082";
}
.glyphicon-remove-sign:before {
    content: "\e083";
}
.glyphicon-ok-sign:before {
    content: "\e084";
}
.glyphicon-question-sign:before {
    content: "\e085";
}
.glyphicon-info-sign:before {
    content: "\e086";
}
.glyphicon-screenshot:before {
    content: "\e087";
}
.glyphicon-remove-circle:before {
    content: "\e088";
}
.glyphicon-ok-circle:before {
    content: "\e089";
}
.glyphicon-ban-circle:before {
    content: "\e090";
}
.glyphicon-arrow-left:before {
    content: "\e091";
}
.glyphicon-arrow-right:before {
    content: "\e092";
}
.glyphicon-arrow-up:before {
    content: "\e093";
}
.glyphicon-arrow-down:before {
    content: "\e094";
}
.glyphicon-share-alt:before {
    content: "\e095";
}
.glyphicon-resize-full:before {
    content: "\e096";
}
.glyphicon-resize-small:before {
    content: "\e097";
}
.glyphicon-exclamation-sign:before {
    content: "\e101";
}
.glyphicon-gift:before {
    content: "\e102";
}
.glyphicon-leaf:before {
    content: "\e103";
}
.glyphicon-eye-open:before {
    content: "\e105";
}
.glyphicon-eye-close:before {
    content: "\e106";
}
.glyphicon-warning-sign:before {
    content: "\e107";
}
.glyphicon-plane:before {
    content: "\e108";
}
.glyphicon-random:before {
    content: "\e110";
}
.glyphicon-comment:before {
    content: "\e111";
}
.glyphicon-magnet:before {
    content: "\e112";
}
.glyphicon-chevron-up:before {
    content: "\e113";
}
.glyphicon-chevron-down:before {
    content: "\e114";
}
.glyphicon-retweet:before {
    content: "\e115";
}
.glyphicon-shopping-cart:before {
    content: "\e116";
}
.glyphicon-folder-close:before {
    content: "\e117";
}
.glyphicon-folder-open:before {
    content: "\e118";
}
.glyphicon-resize-vertical:before {
    content: "\e119";
}
.glyphicon-resize-horizontal:before {
    content: "\e120";
}
.glyphicon-hdd:before {
    content: "\e121";
}
.glyphicon-bullhorn:before {
    content: "\e122";
}
.glyphicon-certificate:before {
    content: "\e124";
}
.glyphicon-thumbs-up:before {
    content: "\e125";
}
.glyphicon-thumbs-down:before {
    content: "\e126";
}
.glyphicon-hand-right:before {
    content: "\e127";
}
.glyphicon-hand-left:before {
    content: "\e128";
}
.glyphicon-hand-up:before {
    content: "\e129";
}
.glyphicon-hand-down:before {
    content: "\e130";
}
.glyphicon-circle-arrow-right:before {
    content: "\e131";
}
.glyphicon-circle-arrow-left:before {
    content: "\e132";
}
.glyphicon-circle-arrow-up:before {
    content: "\e133";
}
.glyphicon-circle-arrow-down:before {
    content: "\e134";
}
.glyphicon-globe:before {
    content: "\e135";
}
.glyphicon-tasks:before {
    content: "\e137";
}
.glyphicon-filter:before {
    content: "\e138";
}
.glyphicon-fullscreen:before {
    content: "\e140";
}
.glyphicon-dashboard:before {
    content: "\e141";
}
.glyphicon-heart-empty:before {
    content: "\e143";
}
.glyphicon-link:before {
    content: "\e144";
}
.glyphicon-phone:before {
    content: "\e145";
}
.glyphicon-usd:before {
    content: "\e148";
}
.glyphicon-gbp:before {
    content: "\e149";
}
.glyphicon-sort:before {
    content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
    content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152";
}
.glyphicon-sort-by-order:before {
    content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
    content: "\e154";
}
.glyphicon-sort-by-attributes:before {
    content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
    content: "\e156";
}
.glyphicon-unchecked:before {
    content: "\e157";
}
.glyphicon-expand:before {
    content: "\e158";
}
.glyphicon-collapse-down:before {
    content: "\e159";
}
.glyphicon-collapse-up:before {
    content: "\e160";
}
.glyphicon-log-in:before {
    content: "\e161";
}
.glyphicon-flash:before {
    content: "\e162";
}
.glyphicon-log-out:before {
    content: "\e163";
}
.glyphicon-new-window:before {
    content: "\e164";
}
.glyphicon-record:before {
    content: "\e165";
}
.glyphicon-save:before {
    content: "\e166";
}
.glyphicon-open:before {
    content: "\e167";
}
.glyphicon-saved:before {
    content: "\e168";
}
.glyphicon-import:before {
    content: "\e169";
}
.glyphicon-export:before {
    content: "\e170";
}
.glyphicon-send:before {
    content: "\e171";
}
.glyphicon-floppy-disk:before {
    content: "\e172";
}
.glyphicon-floppy-saved:before {
    content: "\e173";
}
.glyphicon-floppy-remove:before {
    content: "\e174";
}
.glyphicon-floppy-save:before {
    content: "\e175";
}
.glyphicon-floppy-open:before {
    content: "\e176";
}
.glyphicon-credit-card:before {
    content: "\e177";
}
.glyphicon-transfer:before {
    content: "\e178";
}
.glyphicon-cutlery:before {
    content: "\e179";
}
.glyphicon-header:before {
    content: "\e180";
}
.glyphicon-compressed:before {
    content: "\e181";
}
.glyphicon-earphone:before {
    content: "\e182";
}
.glyphicon-phone-alt:before {
    content: "\e183";
}
.glyphicon-tower:before {
    content: "\e184";
}
.glyphicon-stats:before {
    content: "\e185";
}
.glyphicon-sd-video:before {
    content: "\e186";
}
.glyphicon-hd-video:before {
    content: "\e187";
}
.glyphicon-subtitles:before {
    content: "\e188";
}
.glyphicon-sound-stereo:before {
    content: "\e189";
}
.glyphicon-sound-dolby:before {
    content: "\e190";
}
.glyphicon-sound-5-1:before {
    content: "\e191";
}
.glyphicon-sound-6-1:before {
    content: "\e192";
}
.glyphicon-sound-7-1:before {
    content: "\e193";
}
.glyphicon-copyright-mark:before {
    content: "\e194";
}
.glyphicon-registration-mark:before {
    content: "\e195";
}
.glyphicon-cloud-download:before {
    content: "\e197";
}
.glyphicon-cloud-upload:before {
    content: "\e198";
}
.glyphicon-tree-conifer:before {
    content: "\e199";
}
.glyphicon-tree-deciduous:before {
    content: "\e200";
}
.glyphicon-briefcase:before {
    content: "\1f4bc";
}
.glyphicon-calendar:before {
    content: "\1f4c5";
}
.glyphicon-pushpin:before {
    content: "\1f4cc";
}
.glyphicon-paperclip:before {
    content: "\1f4ce";
}
.glyphicon-camera:before {
    content: "\1f4f7";
}
.glyphicon-lock:before {
    content: "\1f512";
}
.glyphicon-bell:before {
    content: "\1f514";
}
.glyphicon-bookmark:before {
    content: "\1f516";
}
.glyphicon-fire:before {
    content: "\1f525";
}
.glyphicon-wrench:before {
    content: "\1f527";
}
